@import url("./cssSettings.css");
@import url("./headerSectionStyle.css");
@import url("./trendingMoviesStyle.css");
@import url("./genreMoviesStyle.css");
@import url("./searchModalStyle.css");
@import url("./genresModalStyle.css");
@import url("./movieModalStyle.css");

/* Hero Section */
.hero {
  width: 100%;
  height: 100%;
  min-height: 80rem;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 16.8rem;
}
.hero_text {
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: auto auto;
  width: 100%;
  max-width: 132.8rem;
  margin: 0 auto;
  column-gap: 2.4rem;
}
.hero_text img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
}
.hero_text-titel {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 125%;
  text-transform: capitalize;
}
.hero_text-counter {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
/* Trending Movies */
.tending {
  margin-top: -50rem;
}
/* Movie with Genres */
.genre_container {
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Style for if genres is empty string */
.empty_genre {
  width: 100%;
  max-width: 132.8rem;
  margin: 0 auto;
  margin-top: 20rem;
  text-align: center;
}
.empty_genre_heade-titel {
  font-size: 3.2rem;
  font-weight: 400;
}
.empty_genre_links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  gap: 2.4rem;
  justify-content: center;
}
.empty_genre_links a {
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--font-color);
  color: var(--primary-color);
  border-radius: 2.8rem;
  padding: 1.6rem 3.2rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  transition: color 200ms ease-in-out, transform 200ms ease-in-out,
    background-color 200ms ease-in-out;
}
.empty_genre_links a:hover {
  color: var(--font-color);
  background-color: var(--primary-color);
  transform: scale(0.95);
}
@media screen and (max-width: 1350px) and (min-width: 1024px) {
  .hero_text {
    padding: 0 1.6rem;
  }
  /* Movie with Genres */
  .genre_container {
    justify-content: space-between;
  }
  .genre_container_content {
    max-width: 30%;
  }
  /* Style for if genres is empty string */
  .empty_genre {
    width: 95%;
  }
  .empty_genre_heade-titel {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1023px) {
  /* Hero Section */
  .hero {
    height: 100%;
    min-height: 40rem;
    padding: 0;
    display: flex;
  }
  .hero_text {
    padding: 0 1.6rem;
    display: block;
    margin-top: auto;
    margin-bottom: 4rem;
  }
  .hero_text img {
    display: none;
  }
  /* Trending Movies */
  .tending {
    margin-top: 0rem;
  }
  /* Movie with Genres */
  .genre {
    padding: 0;
    padding: 0 1.6rem;
  }
  .genre_container {
    padding-right: 0;
    padding-bottom: 0;
    justify-content: space-between;
  }
  .genre_container_content {
    width: 30%;
  }
  .empty_genre {
    padding: 1.6rem;
    margin-top: 12rem;
  }
  .empty_genre_heade-titel {
    font-size: 2rem;
    font-weight: 400;
  }
  .empty_genre_links {
    display: flex;
    gap: 1.6rem;
    justify-content: space-around;
  }
  .empty_genre_links a {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0.8rem 1.6rem;
  }
}
