.genre {
    width: 100%;
    max-width: 132.8rem;
    margin: auto;
}

.genre-header {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
    letter-spacing: -0.024px;
    margin-bottom: 3.2rem;
    display: inline-block;
    text-transform: capitalize;
}
.genre_more {
    color: rgba(255, 255, 255, 0.8);
    text-align: right;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    float: right;
    padding: 0.8rem;
    cursor: pointer;
    transition: color 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.genre_more:hover {
    color: var(--secondary-color);
}
.genre_more .fa-chevron-right {
    display: none;
}
.genre_container {
    display: flex;
    gap: 3.2rem;
    margin-bottom: 8rem;
}
.genre_container_content {
    width: 100%;
    max-width: 24rem;
    min-width: 9.8rem;
    height: 100%;
    min-height: 13.5rem;
    font-size: 0;
    cursor: pointer;
    position: relative;
    transition: transform 300ms ease-in;
}
.genre_container_content::before {
    content: "";
    width: 100%;
    height: 13.5rem;
    border-radius: 1.2rem;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
    position: absolute;
    top: 0;
    z-index: 1;
}
.genre_container_content:hover {
    transform: scale(1.05);
}
.genre_container_content picture {
    position: relative;
}
.genre_container_content picture img {
    width: 100%;
    height: 13.5rem;
    object-fit: cover;
    border-radius: 1.2rem;
    border: 1px solid rgba(255, 255, 255, 0.32);
}
.genre_container_content_info {
    margin-top: 1.6rem;
}
.genre_container_content_info_titel {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}
.genre_container_content_info_titel .fa-chevron-right {
    font-size: 1.8rem;
    margin-right: 0.8rem;
    opacity: 0;
    transition: 300ms ease-in;
}
.genre_container_content:hover .fa-chevron-right {
    opacity: 1;
}
.genre_container_content_info_titel-name {
    font-weight: 500;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.genre_container_content_info_score {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    z-index: 2;
}
.genre_container_content_info_score .fa-star {
    color: #fdcc0d;
    font-size: 1.6rem;
    margin-right: 0.8rem;
}
.genre_container_content_info-data {
    margin-right: 1.2rem;
    line-height: 2rem;
}
.genre_container_content_info-total {
    position: relative;
    padding-left: 1.2rem;
    display: block;
}
.genre_container_content_info-total::before {
    content: "";
    width: 0.1rem;
    height: 100%;
    left: 0;
    position: absolute;
    margin-right: 1.2rem;
    background-color: #fff;
}
@media screen and (max-width: 1350px) and (min-width: 1024px) {
    .genre {
        padding: 0 2rem;
        margin: 6rem auto auto;
    }
    .genre_container {
        gap: 2.4rem;
    }
    .genre_container_content::before {
        height: 17rem;
    }
    .genre_container_content_info_titel .fa-chevron-right {
        display: none;
    }
}
@media screen and (max-width: 1023px) {
    .genre {
        padding-left: 1.6rem;
        margin: 0 auto 3.8rem;
    }
    .genre-header {
        font-size: 2rem;
        font-weight: 500;
        line-height: 3.6rem;
        letter-spacing: normal;
        margin-bottom: 3.2rem;
        display: inline-block;
    }
    .genre_more {
        color: rgba(255, 255, 255, 0.8);
        text-align: right;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
    }
    .genre_more .fa-chevron-right {
        display: none;
    }
    .genre_container {
        overflow-x: scroll;
        gap: 1.6rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        margin-bottom: 4rem;
    }
    .genre_container_content::before {
        height: 17rem;
    }

    .genre_container_content_info_titel {
        font-size: 1.2rem;
        font-weight: 500;
    }
    .genre_container_content picture img {
        height: 17rem;
    }
    .genre_container_content_info_score {
        position: absolute;
        top: 14.2rem;
        padding-left: 0.6rem;
    }
    .genre_container_content_info-data {
        line-height: normal;
        margin: 0;
        padding-right: 0.6rem;
    }
    .genre_container_content_info_score .fa-star {
        font-size: 1.2rem;
        margin-right: 0.4rem;
    }
    .genre_container_content_info_titel .fa-chevron-right {
        display: none;
    }
    .showMoreGenre {
        border: 1px solid var(--font-color);
        width: 14rem;
        height: 4.8rem;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 6.2rem;
    }
}
