.modal.genres {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 10;
  -webkit-transform: translateY(-0%);
  -ms-transform: translateY(-0%);
  transform: translateY(-0%);
  top: 0;
}

.genres_container {
  width: 100%;
  max-width: 132.8rem;
  margin: 12.8rem auto 0;
  position: relative;
}

.genres_container_btn {
  position: absolute;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  background: -o-linear-gradient(
    314deg,
    rgba(239, 239, 239, 0.6) 0%,
    rgba(239, 239, 239, 0.08) 100%
  );
  background: linear-gradient(
    136deg,
    rgba(239, 239, 239, 0.6) 0%,
    rgba(239, 239, 239, 0.08) 100%
  );
  -webkit-backdrop-filter: blur(27.5px);
  backdrop-filter: blur(27.5px);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  color: var(--font-color);
  font-size: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}
.genres_container_btn:nth-child(1) {
  left: 1.6rem;
}
.genres_container_btn:nth-child(2) {
  right: 1.6rem;
}

.genres_container_cards {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.2rem;
  padding-bottom: 1.6rem;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(36, 36, 36) rgb(15, 15, 15);
}

.genres_container_cards a {
  position: relative;
  width: 22rem;
  min-width: 22rem;
  height: 48rem;
  border-radius: 1.2rem;
  overflow: hidden;
  -webkit-transition: min-width 300ms ease-in;
  -o-transition: min-width 300ms ease-in;
  transition: min-width 300ms ease-in;
}

.genres_container_cards a:hover {
  width: 44rem;
  min-width: 44rem;
}

.genres_container_cards a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(hsla(0, 100%, 50%, 0)),
    to(hsla(0, 0%, 0%, 0.3))
  );
  background: -o-linear-gradient(hsla(0, 100%, 50%, 0), hsla(0, 0%, 0%, 0.3));
  background: linear-gradient(hsla(0, 100%, 50%, 0), hsla(0, 0%, 0%, 0.3));
}

.genres_container_cards img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.genres_container_cards-titel {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4rem;
  text-transform: capitalize;
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
}
@media screen and (max-width: 1350px) and (min-width: 1024px) {
  .genres_container {
    width: 95%;
    margin-top: 8.8rem;
  }
  .genres_container_cards a {
    position: relative;
    width: 18rem;
    min-width: 18rem;
    height: 38rem;
    border-radius: 1.2rem;
    overflow: hidden;
    -webkit-transition: min-width 300ms ease-in;
    -o-transition: min-width 300ms ease-in;
    transition: min-width 300ms ease-in;
  }
  .genres_container_cards {
    gap: 1.6rem;
  }
  .genres_container_cards-titel {
    font-size: 2.4rem;
    line-height: normal;
    left: 1.2rem;
    white-space: nowrap;
  }
  .genres_container_btn {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .genres_container {
    margin-top: 0rem;
    overflow: scroll;
    height: 100vh;
    padding: 10rem 0;
  }
  .genres_container_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2.4rem;
    padding-bottom: 0rem;
  }
  .genres_container_cards a {
    width: 100%;
    min-width: 22rem;
    height: 14.8rem;
    border-radius: 1.2rem;
    overflow: hidden;
    -webkit-transition: min-width 300ms ease-in;
    -o-transition: min-width 300ms ease-in;
    transition: min-width 300ms ease-in;
  }
  .genres_container_cards-titel {
    font-size: 2.4rem;
    line-height: normal;
    bottom: 2.4rem;
    left: 1.2rem;
    white-space: normal;
  }
  .genres_container_btn {
    display: none;
  }
}
