/* Header Elements Style */
.header {
  width: 100%;
  max-width: 132.8rem;
  height: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: fixed;
  top: 3.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(239, 239, 239, 0.3)),
    to(rgba(239, 239, 239, 0.08))
  );
  background: -o-linear-gradient(
    left,
    rgba(239, 239, 239, 0.3) 0%,
    rgba(239, 239, 239, 0.08) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(239, 239, 239, 0.3) 0%,
    rgba(239, 239, 239, 0.08) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.32);
  -webkit-box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.25);
  border-radius: 28px;
  z-index: 10;
}
/* Logo */
.header img {
  width: 4rem;
  height: 4rem;
  margin-left: 0.8rem;
}
/* Search Form */
.search_container {
  display: none;
}
.header_container_search {
  width: 26rem;
  padding: 0.7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  place-items: center;
  margin-left: 3.2rem;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 20rem;
}
.header_container_search label {
  font-size: 2.4rem;
}
.header_container_search input {
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.header_container_search input:focus {
  outline: 0;
}
.header_container_search input::-webkit-input-placeholder {
  opacity: 0.8;
}
.header_container_search input::-moz-placeholder {
  opacity: 0.8;
}
.header_container_search input:-ms-input-placeholder {
  opacity: 0.8;
}
.header_container_search input::-ms-input-placeholder {
  opacity: 0.8;
}
.header_container_search input::placeholder {
  opacity: 0.8;
}
/* Nav Links */
.header_container_links {
  margin-left: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}
.header_container_links a {
  color: inherit;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  text-decoration: none;
  padding: 0.8rem 3.2rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  -webkit-transition: color 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
.header_container_links a:hover {
  color: var(--secondary-color);
}
.header_container_links a.active {
  background-color: var(--font-color);
  color: var(--font-color-active);
}
.header_container_links a.active:hover {
  color: var(--secondary-color);
}
.header_container_links a .fa-solid {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  -webkit-transition: -webkit-transform ease-in 300ms;
  transition: -webkit-transform ease-in 300ms;
  -o-transition: transform ease-in 300ms;
  transition: transform ease-in 300ms;
  transition: transform ease-in 300ms, -webkit-transform ease-in 300ms;
}
.header_container_links .active .fa-chevron-down {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/* Mobile Search Field */
.search_container_mobile {
  display: none;
  width: 95%;
  margin: 0;
  position: fixed;
  bottom: 1.6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0.8rem 1.6rem;
  border-radius: 3rem;
  gap: 0.8rem;
  background: -o-linear-gradient(
    359.18deg,
    rgba(239, 239, 239, 0.6) 2.27%,
    rgba(239, 239, 239, 0.08) 107.56%
  );
  background: linear-gradient(
    90.82deg,
    rgba(239, 239, 239, 0.6) 2.27%,
    rgba(239, 239, 239, 0.08) 107.56%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(27.5px);
  backdrop-filter: blur(27.5px);
  z-index: 9;
}
.search_container_mobile label {
  font-size: 2.4rem;
}
.search_container_mobile input {
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.search_container_mobile input:focus {
  outline: 0;
}
.search_container_mobile input::-webkit-input-placeholder {
  opacity: 0.8;
}
.search_container_mobile input::-moz-placeholder {
  opacity: 0.8;
}
.search_container_mobile input:-ms-input-placeholder {
  opacity: 0.8;
}
.search_container_mobile input::-ms-input-placeholder {
  opacity: 0.8;
}
.search_container_mobile input::placeholder {
  opacity: 0.8;
}
/* Media Query */
@media screen and (max-width: 1350px) and (min-width: 1024px) {
  .header {
    width: 95%;
    top: 1rem;
  }
}
@media screen and (max-width: 1023px) {
  .header {
    width: 100%;
    height: 4rem;
    top: 2rem;
    left: 0;
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    position: fixed;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    padding: 0;
  }
  .header img {
    margin-left: 1.6rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }
  .header_container_links {
    margin-left: auto;
    margin-right: 1.8rem;
  }
  .header_container_links a {
    padding: 0.7rem 1.9rem;
    font-size: 1.4rem;
    background: -o-linear-gradient(
      352.92deg,
      rgba(239, 239, 239, 0.32) 7.97%,
      rgba(239, 239, 239, 0.08) 92.72%
    );
    background: linear-gradient(
      97.08deg,
      rgba(239, 239, 239, 0.32) 7.97%,
      rgba(239, 239, 239, 0.08) 92.72%
    );
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(27.5px);
    backdrop-filter: blur(27.5px);
    border-radius: 24px;
  }
  .header_container_links a .fa-solid {
    margin-left: 0rem;
    font-size: 0.8rem;
  }
  .header_container_links a span {
    display: none;
  }
  .header_container_search {
    display: none;
  }
  .search_container_mobile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
  }
}
